table{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}
th, td {
    padding: 10px;
    border: 1px solid black;
}
th{
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
td:nth-child(1) {
    text-align: center;
}
td:nth-child(2) {
    text-transform: uppercase;
}
td:nth-child(3) {
    color: red;
}